<!-- <div class="border-end h-100"> -->
   
    <div style="padding-bottom:100%;position: fixed;" class="side-col">
<div class="text-center ">
<img src="/images/img.jpg" alt="" style="padding:10px; width:180px;margin-right: 20px;"class="rounded-circle mt-3">
<h3 class="mt-3 st-font1">Supreeth Nayak</h3>
<h6 class="st-font1 main-col">WEB DEVELOPER</h6>
</div>
    
    <nav style="position: fixed;" class="nav flex-column mt-4 col-2">

     <a href="/" class="nav-link st-font1 pad<% if(page_name == 'Home'){ %> active <% } %> "><i class="fas fa-home mar"></i>Home</a>
     <a href="/services" class="nav-link st-font1 pad<% if(page_name == 'Project'){ %> active <% } %> "><i class="fas fa-tasks mar"></i>Projects</a>
     <a href="/skill" class="nav-link st-font1 pad<% if(page_name == 'Skill'){ %> active <% } %> "><i class="fas fa-drafting-compass mar"></i>Skills</a>
     <a href="/certificate" class="nav-link st-font1 pad<% if(page_name == 'Certificate'){ %> active <% } %>"><i class="fas fa-award mar"></i> Certificates</a>
     <a href="/education" class="nav-link st-font1 pad<% if(page_name == 'Education'){ %> active <% } %>"><i class="fas fa-user-graduate mar"></i>Education</a>
     <a href="/contact" class="nav-link st-font1 pad<% if(page_name == 'Contact'){ %> active <% } %>"><i class="fas fa-address-book mar"></i>Contact</a>
    </nav>
</div>
   <!-- </div> -->