<%- include('./partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <!-- 2 cols out of 12 column -->
        <div class="col-sm-2">
          <%- include('./partials/sidebar.ejs', {page_name : 'Cerificate'} ) %>
        </div>
        <div class="col-sm-10">
   <!-- Start Main Content -->
   <div class="container mt-5">
    <h1 style="text-align: center;" class="main-col mb-5 st-font1">CERTIFICATIONS</h1>

    <div style="margin: 150px; text-align: center;">
    <h5 style="margin-top: 30px;">Certified by <b class="text-warning st-font">Linkedin Learning</b> on Java Programming</h5> 

    <h5 style="margin-top: 30px;">Certified by <b class="text-warning st-font">Linkedin Learning</b> on Introduction to Data Structures and Algorithms in Java</h5> 

    <h5 style="margin-top: 30px;">Certified by <b class="text-warning st-font">TCSiON</b> for completing Career Edge Knockdown the Lockdown on Communication skils</h5> 
    </div>
    
  </div>
      <!-- End Main Content -->
  </div>
</div>
</div>
<%- include('./partials/footer.ejs') %>