<%- include('./partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <!-- 2 cols out of 12 column -->
        <div class="col-sm-2">
          <%- include('./partials/sidebar.ejs', {page_name : 'Education'} ) %>
        </div>
        <div class="col-sm-10">
   <!-- Start Main Content -->
   <div class="container mt-5">
    <h1 style="text-align: center;" class="main-col mb-5 st-font1">EDUCATION</h1>

    <div style="margin: 100px;text-align: center;">
    <div style="" class="">
      <h1>BE-CSE <b class="text-warning st-font"> 7.72 CGPA</b></h1>
      <p>Canara Engineering College, Manglore</p>
      <p>2018 - 2022 (present)</p>
    </div>

    <div style="" class="">
      <h1>Class XII <b class="text-warning st-font"> 75.16%</b></h1>
      <p>Sri Venkataramana PU College, Kundapura</p>
      <p>2016 - 2018</p>
    </div>
    
    <div style="" class="">
      <h1>Class X<b class="text-warning st-font"> 82.88%</b></h1>
      <p>VKR Acharya Highschool, Kundapura</p>
      <p>2013 - 2016</p>
    </div>
  </div>
    
    </div>
      <!-- End Main Content -->
    </div>
</div>
</div>
<%- include('./partials/footer.ejs') %>