<%- include('./partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <!-- 2 cols out of 12 column -->
        <div class="col-sm-2">
          <%- include('./partials/sidebar.ejs', {page_name : 'Skill'} ) %>
        </div>
        <div class="col-sm-10">
   <!-- Start Main Content -->
   <div class="container mt-5">
    <h1 style="text-align: center" class="main-col mb-5 st-font1">SKILLS</h1>
    
      <div class="mt-5 skill-group">
        <a class="st-font1 skills" href="#"><i class="fab fa-html5 skills-icon"></i> HTML</a>
        <a class="st-font1 skills" href="#"><i class="fab fa-css3-alt skills-icon"></i> CSS</a>
        <a class="st-font1 skills" href="#"><i class="fab fa-js skills-icon"></i> JS</a>
        <a class="st-font1 skills" href="#"><i class="fab fa-bootstrap skills-icon"></i> Bootstrap</a>
      </div>

      <div class="mt-5 skill-group">
        <a class="st-font1 skills" href="#"><i class="fas fa-database skills-icon"></i> DB</a>
        <a class="st-font1 skills" href="#"><i class="fab fa-html5 skills-icon"></i> Express</a>
        <a class="st-font1 skills" href="#"><i class="fab fa-react skills-icon"></i> React</a>
        <a class="st-font1 skills" href="#"><i class="fab fa-node-js skills-icon"></i> NodeJS</a>
      </div>

      <div class="mt-5 skill-group">
        <a class="st-font1 skills" href="#"><i class="fab fa-java skills-icon i-color mx-2"></i>Java</a>
        <a class="st-font1 skills" href="#"><i class="fab fa-python skills-icon i-color mx-2"></i>Python</a>
        <a class="st-font1 skills" href="#"><i class="fab fa-github skills-icon i-color mx-2"></i>Github</a>
      </div>


    </div>
   </div>
   <!-- End Main Content -->
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>